<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from DevOps</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div id="message" class="fade-in">Hello from DevOps</div>
    </div>

    <div class="container">
        <div id="message" class="fade-in">{{ temp_msg }}</div>
    </div>
    <script src="script.js"></script>
</body>
</html>
