<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hello from Abdelrahman</title>
    <p>my msg is: {{ my_message }}</p>
</head>
<body>
    <div id="hello-div">
        <p id="hello-text">Hello from Abdelrahman</p>
    </div>
    <script src="script.js"></script>
</body>
</html>
